* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #3a3a3a;
}

/* Styling Start-up Pop-up */

.start-pop-up {
	min-width: 400px;
	min-height: 200px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
	border: 10px solid lightgrey;
	border-radius: 10px;
	background: linear-gradient(-90deg, #ED4264, #FFEDBC);
	box-shadow: 0 0 30px #231f1c;
    color: #292824;
    position: absolute;
}

/* Styling start button*/
#start {
  margin: 20px;
  padding: 10px 20px;
  border-left: 20px solid #938884;
  border-right: 20px solid #938884;
  border-top: 8px solid #938884;
  border-bottom: 8px solid #938884;
  border-radius: 10px;
  background: #292824;
  color: #bea77e;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 10px #231f1c;
  cursor: pointer;
}

#start:hover {
	cursor: pointer;
	background: #4e4c44;
}

.hidden {
  display: none;
}
.main-header {
  padding: 20px 0 10px 0;
}

.main-header h1 {
  text-align: center;
  color: #bea77e;
  text-transform: uppercase;
}

/* STYLING SCORE PANEL */
.score-info {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info {
  display: flex;
}

.info > div,
#reset {
  margin: 0 5px;
  padding: 3px 10px;
  background: #3a3a3a;
  border: 2px solid #938884;
  border-radius: 10px;
  color: #bea77e;
  text-transform: uppercase;
}

#reset:hover {
  cursor: pointer;
  background: #3b3935;
}

.stars,
.moves {
  display: flex;
}

.fa-star,
.fa-hashtag {
  margin: 0 5px;
  color: orange;
}

/* Styling cards and deck*/
.main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.cards {
  width: 60px;
  height: 60px;
  position: relative;
}

.cards:hover {
  cursor: pointer;
}

.card-back-flip {
  animation: flip 0.1s ease-in forwards;
}

.card-front-flip {
  animation: flip 0.1s 0.1s ease-out forwards reverse;
}

.card-back-reverse {
  animation: flip 0.1s ease-in forwards reverse;
}

.card-front-reverse {
  animation: flip 0.1s 0.1s ease-out forwards;
}

.card-win {
  animation: win ease 0.5s forwards;
}

.card-front {
  background: #d7be6a;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  border: 2px solid #7a737a;
}

.card-back {
  background: #de5d19;
  background: linear-gradient(-90deg, #ED4264, #FFEDBC);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #7a737a;
  border-radius: 3px;
}

/*Media queries to make game responsive for different browser widths */
@media screen and (min-width: 480px) {
  /* Main Grid */
  .main-grid {
    width: 440px;
    height: 440px;
  }

  .cards {
    width: 95px;
    height: 95px;
  }
}


@media screen and (min-width: 760px) {
  /* Main Grid */
  .main-grid {
    width: 720px;
    height: 720px;
    padding: 20px;
  }

  .cards {
    width: 155px;
    height: 155px;
  }
}

@media screen and (min-width: 1024px) {
  /* Main Grid */
  .main-grid {
    width: 860px;
    height: 860px;
    padding: 20px;
  }

  .cards {
    width: 195px;
    height: 195px;
  }
}
